.calc-body{
    background-color: #333;
    height: 400px;
    width: 300px;
    padding: 1px 15px 5px 15px;
    border-radius: 5px;
}

.calc-screen{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    background-color: rgb(214, 245, 182);
    height: 80px;
    border-radius: 1px;
    overflow: hidden;
    }
    .calc-screen-text{
        font-size: 2rem;
        padding-right: 5px;
        padding-left: 5px;
}

.calc-buttons-container{
    display: flex;
    gap: 5px;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 20px;
}

.calc-number-container{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    align-items: center;
    justify-content: center;
    }
    .number-btn{
        font-size: 2rem;
        width: 50px;
        height: 62.5px;
        box-sizing: border-box;
        background-color: rgb(140, 140, 140);
}

.calc-operator-container{
    display: flex;
    max-width: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }
    .operator-btn{
        font-size: 2rem;
        width: 50px;
        height: 50px;
        background-color: rgb(180, 180, 180);
}

[data-id="="],[data-id="+"]{
    height: 100px;
}

[data-id="d"]{
    width: 100px;
}

[data-id="c"],[data-id="d"]{
    background-color: brown;
}
